*.dat
*.jpg
*.pyc
*.log
*.html
*.md
cheating_log.txt
__pycache__/
TestArea/
# Visual Studio / Visual Studio Code
.vs/
assets/
Test/
.vscode/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Build results 
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
assets/
