*.dat
*.jpg
*.pyc
*.log
cheating_log.txt
__pycache__/
TestArea/
# Visual Studio / Visual Studio Code
.vs/
Test/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Build results 
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
assets/

capture_frame.py
capture_frame1.py
.env
postman_payload.json